
/* Add styles via selector */

h1{
    color:blue
}

h2{
    color:green
}


/* Add styles via id */
#main-heading{
    color:#ff0810
}

/* Add Styles via class */

.paragraph{
    color: rgb(105, 208, 255);
}